@page "/contacts"

<PageTitle>Kontaktai</PageTitle>

<h1>Kontaktai</h1>


Tuo atveju, jeigu pranešimas apie BDAR pažeidimą nėra anoniminis, skundą dera pateikti šia forma: https://zeit.lt/lt/e.-skundas/560;


<SurveyPrompt Title="How is Blazor working for you?" />
